*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* CLASE 4 */

.clase4{
    width: 100%;
    height: 100vh;
    background: rgb(21, 27, 46);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .relative{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: 200px;
} */

.absolute1{
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    /* position: static; */
    left: 50%;
    top: 50%;
}
.absolute2{
    width: 100px;
    height: 100px;
    background: rgb(190, 4, 207);
    border-radius: 50%;
}

.fixed{
    width: 100%;
    height: 100px;
    background: rgb(0, 17, 255);
    border-bottom: 3px solid black;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.fixed2{
    width: 50px;
    height: 50px;
    background: salmon;
    position: fixed;
    top: 0px;
    z-index: 5;
}

/* transition */

.transition{
    width: 500px;
    height: 100vh;
    background: #ffffff;
    /* transition: border-radius 2s ease-in-out; */
}

/* .transition:hover{
    background: #c00889d7;
    border-radius: 50%;
} */

.button{
    width: 100%;
    height: 50px;
    border: 4px solid rgb(36, 34, 161);
    background: transparent;
    color:rgb(36, 34, 161);
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s;
}

.button:hover{
    background: rgb(36, 34, 161);
    color: #ffff;
    box-shadow: 0 0 30px rgba(36, 34, 161, 0.904);
}

/* animations */

.animation{
    width: 100px;
    height: 100px;
    background: palevioletred;
    border-radius: 50%;

    /* animation: move 2s  infinite alternate ease-in-out;
    animation-play-state: running; */
    
}

@keyframes move {
    0%{
        background: red;
        transform: translateX(0px) scale(0);
    }
    30%{
        background: blue;
    }
    50%{
        background: rgb(14, 122, 20);
    }
    70%{
        background: rgb(73, 20, 134);
    }
    100%{
        background: rgb(170, 84, 13);
        transform: translateX(500px) scale(2);
    }
}

/* LOADER WITH CSS */

.spiner{
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid #ffff;
    border-radius: 50px;
    border-top-color: rgb(73, 77, 122);
    border-bottom-color: rgb(73, 77, 122);
    animation: loader 1s ease infinite alternate;
}

@keyframes loader{
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.2);
        box-shadow: 0px 0px 1rem #ffff;
        border-top-color: rgb(24, 33, 129);
        border-bottom-color: rgb(24, 33, 129);
    }
}

/* CLASE 5 FLEXBOX */

.clase5{
    width: 100%;
    height: 200vh;
    background: rgb(35, 33, 62);
}

.navbar{
    width: 100%;
    height: 80px;
    background: #ECF2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    top: 0px;
}

img{
    width: 200px;
    height: 50px;
    object-fit: contain;
}

.contentItems{
    display: flex;
}

/* .item{
    list-style: none;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 500px;
    cursor: pointer;
}
.item:hover{
    border-bottom:2px solid var(--primaryColor);
    color: var(--primaryColor);
    font-weight: bold;
} */


.boxFlex{
    width: 100px;
    height: 100px;
    background: red;
    border: 2px solid white;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uno{
    order: 2;
}
#dos{
    order: 1;
}
#tres{
    order: 5;
    flex-grow: .4;
}
#cuatro{
    order: 3;
    flex-grow: 2;

}
#cinco{
    order: 4;
    flex-basis: 300px;
}
/* #elegido{
    align-self: flex-start;
} */


/* CLASE 6 */

.clase6{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 45, 64);
    background-image: radial-gradient(rgba(128, 0, 128, 0.451),rgba(0, 0, 255, 0.342)), url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.title{
    color: #fff;
    font-size: 45px;
}
.grid{
    width: 90%;
    height: 600px;
    border: 3px dashed #fff;
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20% 20% 20%; */
    /* grid-template-rows: 20% 20%; */

    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); */

    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px; */
    /* column-gap: 20px;
    row-gap: 30px; */

    grid-template-areas: 
    "element1 element1 element2 element2 element2"
    "element1 element1 element2 element2 element2"
    "element1 element1 element2 element2 element2"
    "element3 element3 element4 element4 element4"
    "element3 element3 element4 element4 element4";

}

.item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.item1{
    background: red;
    /* grid-area: element1; */
    grid-column: 1/3;
    grid-row: 1/5;
}

.item2{
    background: purple;
    /* grid-area: element2; */
    grid-column: 3/4;
    grid-row: 1/4;
}

.item3{
    background: green;
    /* grid-area: element3; */
    grid-column: 4/6;
    grid-row: 1/4;
}

.item4{
    background: yellow;
    /* grid-area: element4; */
    grid-column: 3/5;
  
}

.item5{
    background: sandybrown;
    grid-row: 5/6;
    grid-column: 1/6;
}

.item6{
    background: skyblue;
   
}


/* clase 7 diseño responsivo */


.clase7{
    width: 100%;
    height: 100vh;
    background: rgb(116, 111, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxResponsive{
    width: 300px;
    height: 300px;
    background: red;
    border: 1px solid #000;
}
/* 
@media (max-width: 600px){
    .clase7{
        flex-direction: column;
    }
} */

/* @media (max-aspect-ratio: 4/3){
    .boxResponsive{
        border-radius: 50%;
        background: purple;
    }
    
} */

/* @media (orientation: landscape){
    .boxResponsive{
        background-image: url('https://images.pexels.com/photos/16053278/pexels-photo-16053278.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load');
    }
} */

/* @media (resolution: 1080x720){
    .boxResponsive{
        border-radius: 50%;
        background: purple;
    }
} */

/* @media (min-width: 700px) and (max-width: 1000px){
    .boxResponsive{
        display: none;
    }
} */

/* @media (max-height: 700px), (max-width: 500px){
    .boxResponsive{
        background: greenyellow;
        width: 100%;
        border: 3px solid #fff;
        box-shadow: 0 0 1rem red;
    }
} */

/* @media not (max-width: 700px){
    .boxResponsive{
        background: greenyellow;
        width: 100%;
        border: 3px solid #fff;
        box-shadow: 0 0 1rem red;
    }
} */

@media only screen and (max-width: 768px){
    .boxResponsive{
        background: greenyellow;
        width: 100%;
        border: 3px solid #fff;
        box-shadow: 0 0 1rem red;
    }
}

.clase8{
    width: 100%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/08/de/98/08de984a1319b96ade80207ff400d236.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.corte{
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(0 0, 16% 0, 15% 100%, 0% 100%);
    transition: 1s ease-in-out;

}

.corte:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s ease-in-out;
}

/* clase 9 */

.clase{
    width: 100%;
    height: 100vh;
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: red;
    transition: 1s ease-in-out;

}

.dark{
    background: #000;
    border-radius: 50%;
    transition: 1s ease-in-out;
    margin: 30px;
}
.green{
    background: green;
}